@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html,
body {
  width: 100%;
  color: black;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

main {
  width: 100%;
  margin: 0 auto 10%;
}

.main {
  width: 90%;
  margin: 0 auto 10%;
}

a {
  color: #fff;
  text-decoration: none;
}

.f-h2 {
  color: #A16EFF;
  font-size: 30px;
  padding: 5%;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .f-h2 {
    padding: 10%;
  }
}

.f-h3 {
  color: black;
  font-size: 24px;
  position: relative;
  padding: 0.25em 0;
}

@media screen and (max-width: 414px) {
  .f-h3 {
    text-align: center;
  }
}

.f-h3:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#A16EFF), to(transparent));
  background: linear-gradient(to right, #A16EFF, transparent);
}

.f-h4 {
  color: #FFBEDA;
  font-size: 18px;
  font-weight: bold;
  padding: 8%;
}

@media screen and (max-width: 414px) {
  .f-h4 {
    padding: 5%;
  }
}

.error {
  color: #FFBEDA;
  font-weight: bolder;
  font-size: 18px;
  padding: 5%;
}

.nav {
  -webkit-box-align: center;
          align-items: center;
  background-color: rgba(255, 190, 218, 0.4);
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 100px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: fixed;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  z-index: 5;
}

.nav-title {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.nav-heading {
  display: none;
}

.nav-trigger {
  display: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  .nav-trigger {
    display: inline-block;
  }
}

.nav-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #F5F5F5;
  border-radius: 4px;
}

.nav-trigger span:nth-of-type(1) {
  top: 0;
}

.nav-trigger span:nth-of-type(2) {
  top: 14px;
}

.nav-trigger span:nth-of-type(3) {
  bottom: 0;
}

.nav-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

.nav-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.nav-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
          transform: translateY(-15px) rotate(45deg);
}

.nav-sp {
  width: 50%;
}

@media screen and (max-width: 414px) {
  .nav-sp {
    display: none;
  }
}

.nav-container {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  font-size: 18px;
  font-weight: bold !important;
  list-style: none;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.nav-height {
  height: 100px;
}

.l-footer {
  background: #FFBEDA;
  color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 300px;
  justify-content: space-around;
  opacity: 0.6;
  position: relative;
}

@media screen and (max-width: 414px) {
  .l-footer {
    height: 250px;
  }
}

.l-footer-container {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 414px) {
  .l-footer-container {
    width: 100%;
  }
}

.l-footer-content {
  margin-top: 10%;
}

.l-footer-content h3 {
  color: #A16EFF;
  font-weight: bolder;
  font-size: 18px;
}

.l-footer-content p {
  margin-left: 15px;
}

.l-footer-content a {
  color: #fff;
  text-decoration: none;
}

.l-footer-bottom {
  text-align: center;
}

.l-footer-copyRight {
  bottom: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 70%;
  left: 0;
  right: 0;
}

@media screen and (max-width: 414px) {
  .l-footer-copyRight {
    width: 75%;
  }
}

.sidebar {
  -webkit-box-align: center;
          align-items: center;
  background: #FFBEDA;
  display: -webkit-box;
  display: flex;
  height: 100%;
  margin: 0 0 0  75%;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .sidebar-h2 {
    padding: 5% !important;
  }
}

.sidebar-container {
  background: #FFBEDA;
  border-radius: 1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  height: 60%;
  padding: 5%;
  width: 100%;
}

.sidebar-container a {
  color: black;
  position: relative;
  text-decoration: none;
}

.sidebar-container a::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: '';
  width: 80%;
  height: 2px;
  background: #fff;
  margin-left: 10%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sidebar-container a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.sidebar-item {
  color: #fff;
  display: -webkit-box;
  display: flex;
  margin: 10% auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 100%;
}

.sidebar-item:hover {
  opacity: 0.8;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.sidebar-item-logo {
  color: #fff;
  width: 40%;
  text-align: center;
}

.sidebar-item-text {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  width: 60%;
}

.c-heading {
  margin: 5% auto;
}

.gif-container {
  height: 700px;
  width: 100%;
  z-index: 2;
  background: #fff;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.loading {
  width: 20%;
}

.c-button,
.c-mini-button,
.c-radio {
  -webkit-box-align: center;
          align-items: center;
  background: #FFBEDA;
  border-color: #FFBEDA;
  border-radius: 5px;
  box-shadow: 2px 2px 4px gray;
  color: #F5F5F5;
  display: block;
  font-size: 18px;
  font-weight: bolder;
  margin: 5% 0 5% 60%;
  padding: 2%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 30%;
}

.c-button:hover,
.c-mini-button:hover,
.c-radio:hover {
  color: #A16EFF;
  opacity: 0.7;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-mini-button,
.c-radio {
  font-size: 14px;
  text-align: center;
  margin: 0 2%;
  padding: 4%;
  width: 40%;
}

.c-mini-button:hover,
.c-radio:hover {
  color: #A16EFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-mini-button a,
.c-radio a {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.c-radio {
  background: lightgray;
  border-radius: 4px;
  cursor: pointer;
  margin: 3% auto;
  padding: 3%;
  width: 20%;
}

@media screen and (max-width: 414px) {
  .c-radio {
    box-sizing: border-box;
    padding: 1%;
    width: 40%;
    margin: 7% auto;
  }
}

.c-radio:hover {
  color: #A16EFF;
  opacity: .7;
}

.c-radio-container {
  background: #fff;
  border-radius: 2%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1%;
  text-align: center;
  width: 80%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .c-radio {
  background: #FFBEDA;
}

.c-label {
  display: block;
  font-size: 24px;
  margin: 3%;
}

.c-form {
  background: #f6f5f4;
  margin: 0 auto 5%;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 414px) {
  .c-form {
    width: 85%;
  }

  .c-form .c-button,
  .c-form .c-mini-button,
  .c-form .c-radio {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.c-form-container {
  box-sizing: border-box;
  font-weight: bold;
  padding: 5%;
}

.c-form-container a {
  margin: 0 auto 3%;
}

@media screen and (max-width: 414px) {
  .c-form-container a {
    margin: 0 auto 10%;
  }
}

.c-form-check {
  margin: 3% auto;
}

@media screen and (max-width: 414px) {
  .c-form-check {
    margin: 5% auto;
  }
}

.c-form-check-box {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.c-form-reminder {
  color: #A16EFF;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 3%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  word-wrap: break-word;
}

.c-form-text-attention {
  color: mediumvioletred;
  margin: 5%;
}

.c-input,
.c-textarea {
  background: #fff;
  box-shadow: 2px 3px 5px gray;
  display: block;
  font-size: 18px;
  height: 24px;
  margin: 5% auto;
  padding: 1%;
  resize: vertical;
  width: 55%;
}

@media screen and (max-width: 414px) {
  .c-input,
  .c-textarea {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .c-input,
  .c-textarea {
    width: 70%;
  }
}

.c-textarea {
  height: 20%;
}

@media screen and (max-width: 414px) {
  .c-textarea {
    width: 70%;
  }
}

.ic {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5% auto;
  /**
カード全体のcss
 */
  /**
カードの画像
 */
}

.ic-a {
  color: black;
  text-decoration: none;
}

.ic-card {
  background: #f6f5f4;
  border-radius: 2%;
  height: 110%;
  margin: 1% auto;
  position: relative;
  text-align: center;
  width: 17%;
  z-index: 1;
  /**
    hoverさせた際の挙動
     */
}

@media screen and (max-width: 414px) {
  .ic-card {
    width: 47.5%;
  }
}

.ic-card-a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.ic-card:hover {
  opacity: 0.75;
}

.ic-review {
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 10%;
  justify-content: space-around;
  margin: 2% 0;
  padding: 10%;
}

.ic-star {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.ic-img {
  height: 160px;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.ic-img-item {
  box-sizing: border-box;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
}

.ic-img-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.3) skewX(4deg);
          transform: scale(1.3) skewX(4deg);
}

.ic-button-one-container {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin: 10% auto;
  padding: 3%;
  z-index: 3;
}

.ic-button-two-container {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  margin: 10% auto;
  padding: 3%;
  width: 90%;
  z-index: 3;
}

.ic-desc {
  background: #fff;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 240px;
  -webkit-box-pack: left;
          justify-content: left;
  margin: 15% auto 10%;
  overflow: hidden;
  padding: 5%;
  width: 90%;
  word-break: break-word;
}

.ic-desc-overflow {
  -webkit-box-align: center;
          align-items: center;
  height: 10%;
}

.ic-desc-text {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  height: 90%;
}

.register {
  background: #F5F5F5;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
}

.register-input label {
  display: block;
  font-size: 24px;
  margin: 3%;
}

.p-mypage-more {
  color: #A16EFF;
}

.profile {
  margin: 0 auto 12%;
  width: 50%;
}

@media screen and (max-width: 414px) {
  .profile {
    width: 80%;
  }
}

.profile-container {
  background: #F5F5F5;
  border-radius: 1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
}

.profile-container-input {
  margin-bottom: 10%;
}

.profile-container-input-label {
  display: block;
  font-size: 24px;
  margin: 3%;
}

.profile-container-textarea {
  height: 100%;
}

.profile-container-img {
  display: -webkit-box;
  display: flex;
  margin: 10% auto;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .profile-container-img {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
  }
}

.profile-container-img-left {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  width: 40%;
  margin: 5%;
}

@media screen and (max-width: 414px) {
  .profile-container-img-left {
    margin: 0 auto;
    width: 60%;
    word-wrap: break-word;
  }
}

.profile-container-img-right {
  width: 60%;
  margin: 5%;
}

@media screen and (max-width: 414px) {
  .profile-container-img-right {
    margin: 5% auto;
  }
}

.profile-container-img-right img {
  width: 100%;
}

.profile-container-img-none {
  display: none;
}

.profile-container-img-message {
  font-weight: bolder;
  color: #FFBEDA;
  font-size: 24px;
  margin-bottom: 15%;
}

.profile-withdraw {
  margin: 0 auto;
}

/**
confirm とdetailの共通部分　
 */

.confirm {
  margin: 8% auto 12%;
  width: 60%;
}

.confirm-text {
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  padding: 2%;
  width: 80%;
  word-break: break-all;
}

@media screen and (max-width: 414px) {
  .confirm-text {
    width: 75%;
    padding: 7%;
  }
}

.confirm-container {
  background: #F5F5F5;
  border-radius: 1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
}

.confirm-container-input-label {
  display: block;
  font-size: 24px;
  margin: 3%;
}

.confirm-container-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 5% auto;
  width: 100%;
}

.confirm-container-img img {
  width: 100%;
}

.confirm-container-none {
  display: none;
}

.confirm-post {
  margin: 5% auto;
}

.confirm-attention {
  color: #A16EFF;
  font-size: 24px;
  font-weight: bolder;
  margin: 10% auto 5%;
}

.confirm .arrow {
  margin: 0 auto;
  width: 200px;
}

.confirm .arrow::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 70px;
  background: #FFBEDA;
}

.confirm .arrow::after {
  content: "";
  display: block;
  border-top: 100px solid #FFBEDA;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.postDetail {
  margin: 0 auto 12%;
  width: 50%;
}

@media screen and (max-width: 414px) {
  .postDetail {
    width: 80%;
  }
}

.postDetail-container {
  background: #F5F5F5;
  border-radius: 1%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
}

.postDetail-container-input {
  margin-bottom: 10%;
}

.postDetail-container-input-label {
  display: block;
  font-size: 24px;
  margin: 3%;
}

.postDetail-container-img {
  display: -webkit-box;
  display: flex;
  margin: 10% auto;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .postDetail-container-img {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
  }
}

.postDetail-container-img-left {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  width: 40%;
  margin: 5%;
}

@media screen and (max-width: 414px) {
  .postDetail-container-img-left {
    margin: 0 auto;
    width: 60%;
    word-wrap: break-word;
  }
}

.postDetail-container-img-right {
  width: 60%;
  margin: 5%;
}

@media screen and (max-width: 414px) {
  .postDetail-container-img-right {
    margin: 5% auto;
  }
}

.postDetail-container-img-right img {
  width: 100%;
}

.postDetail-container-img-none {
  display: none;
}

.review,
.review-comment {
  margin: 5% auto;
}

.review-posted {
  background: #f6f5f4;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}

@media screen and (max-width: 414px) {
  .review-posted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.review-posted-name,
.review-comment label {
  border-radius: 3%;
  background: #fff;
  box-sizing: border-box;
  margin: 5% 0 0 2%;
  padding: 2% 1% 0 0;
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 414px) {
  .review-posted-name,
  .review-comment label {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    margin: 10% auto;
    padding: 5%;
    width: 80%;
  }
}

.review-posted-star {
  background: #fff;
  box-sizing: border-box;
  margin: 5% 0 0 5%;
  padding-top: 2%;
  width: 60%;
}

@media screen and (max-width: 414px) {
  .review-posted-star {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 0 auto 10%;
    padding: 5% 0 10% 0;
    width: 80%;
  }
}

.review-posted-comment,
.review-comment textarea {
  border-radius: 3%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .review-posted-comment,
  .review-comment textarea {
    padding: 7%;
  }
}

.review-posted-comment-label {
  font-weight: bold;
  padding: 3% 3% 0 3%;
}

.review-posted-comment-content {
  background: #fff;
  padding: 8%;
  margin: 6% auto;
}

.review-posted-comment-star {
  border-radius: 3%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  height: 70%;
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 414px) {
  .review-posted-comment-star {
    padding: 10%;
  }
}

.review-posted-comment-star-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}

.review-posted-comment-star-bottom {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.review-img {
  height: 100%;
  width: 100%;
  margin: 5% auto;
  padding: 5% 0;
}

.review-img img {
  border-radius: 100%;
  height: 80px;
  width: 60%;
}

@media screen and (max-width: 414px) {
  .review-img img {
    height: 100px;
  }
}

.review-img-name {
  color: #FFBEDA;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
}

.review-container-restriction {
  opacity: 0.7;
}

.review-comment {
  background: #f6f5f4;
  padding: 5%;
}

.review-comment-check {
  margin: auto 3% 10%;
  text-align: center;
  width: 60%;
}

.review-comment-result {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 30%;
}

.review-comment-stars {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
}

.review-comment-stars-select {
  color: #FFBEDA;
}

.review-comment-error {
  color: #FF00FF;
  font-weight: bold;
  text-align: center;
  margin: 10%;
}

.review-comment-restriction {
  color: #FFBEDA;
  font-weight: bolder;
}

.review-comment label {
  -webkit-box-align: center;
          align-items: center;
  background: #F5F5F5;
  margin: 5% auto;
}

.review-comment textarea {
  margin: auto 3%;
  width: 74%;
}

@media screen and (max-width: 414px) {
  .review-comment textarea {
    padding: 2%;
  }
}

.review-comment-container {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  width: 95%;
  margin: 0 auto 5%;
}

@media screen and (max-width: 414px) {
  .review-comment-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .review-comment-container label {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.review-comment-input {
  font-size: 14px;
  height: 20px;
  margin: 0;
}

.review-button,
.review-button-restriction {
  border: none;
  margin: 3% 0 3% 75%;
  padding: 1.5%;
  width: 10%;
}

.review-button-restriction {
  pointer-events: none;
}

@media screen and (max-width: 414px) {
  .review-button,
  .review-button-restriction {
    margin: 8% 0 3% 62%;
    width: 20%;
  }
}

.fa-star {
  cursor: pointer;
}

.withdraw-ul {
  margin: 5%;
}

.withdraw-li {
  font-size: 24px;
  font-weight: bolder;
  list-style: none;
}

.withdraw-submit {
  padding: 3% 3% 5% 3%;
}

.withdraw-submit-button {
  margin: 3% auto;
}

.hero {
  background-image: url(/images/home1.jpg?d45b88b256cc7865b4c0548fc06aaf63);
  background-position: bottom;
  background-size: cover;
  display: inline-block;
  height: 700px;
  width: 100%;
}

.hero-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 90%;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

.hero-item-title {
  font-size: 30px;
  margin-bottom: 5%;
}

.hero-item-text {
  letter-spacing: 1em;
}

.home-header {
  font-size: 24px;
  text-align: center;
  margin: 5% auto;
}

.home-what {
  text-align: center;
  width: 100%;
}

.home-what-container,
.home-merit-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.home-what-item,
.home-merit-item {
  width: 30%;
  margin: 0 3%;
}

.home-what-item img,
.home-merit-item img {
  border-radius: 2%;
  width: 100%;
}

.home-what-item p,
.home-merit-item p {
  -webkit-box-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.home-merit {
  margin: 0 auto 5%;
}

.home-merit-evocation {
  color: black;
  letter-spacing: 0.4em;
  margin: 10%;
  text-align: center;
}

.home-merit-evocation-accent {
  color: #A16EFF;
  font-weight: bold;
  font-size: 30px;
  padding: 5%;
}

.home-merit-container {
  flex-wrap: wrap;
}

.home-merit-item {
  margin: 0 auto 5%;
  text-align: center;
  top: 5%;
}

.home-merit-item img {
  border-radius: 2%;
  width: 80%;
}

.home-merit-item p {
  background: #F5F5F5;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 3%;
  width: 80%;
}

.home-merit-item-left {
  left: 1%;
}

.home-merit-item-center {
  top: 60%;
}

.home-merit-item-right {
  right: 1%;
  top: 30%;
}

.home-recommend {
  text-align: center;
}

.home-recommend-button {
  text-align: center;
  margin: 5% auto;
  width: 15%;
}

.c-form-container-passReminder {
  padding: 2%;
}

@media screen and (max-width: 414px) {
  .c-form-container-passReminder {
    box-sizing: border-box;
    padding: 5%;
  }
}

.passReminder-input {
  margin-bottom: 5%;
}

.completed-paragraph {
  margin: 3%;
}

.completed-header {
  color: #FFBEDA;
  font-size: 24px;
  margin: 10% auto;
}

.completed-share {
  border: none;
  box-shadow: 2px 2px 4px gray;
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 10%;
  width: 45%;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  background: #1da1f3;
  margin: 10% auto;
  overflow: hidden;
  text-decoration: none;
}

.completed-share-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.completed-share span {
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}

.completed-share:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.completed-container {
  display: -webkit-box;
  display: flex;
}

.completed-button {
  margin: 5% auto;
}

.email-alert {
  color: #A16EFF;
  padding: 5%;
}

.allIdea-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 5% 0 5% 75%;
  padding: 1%;
  width: 15%;
}

.search {
  margin-bottom: 5%;
}

.search h4 {
  margin-bottom: 5%;
}

.search-container {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.search-subject {
  width: 100%;
  text-align: center;
}

.search-category {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.search-category-radio {
  margin: 4% auto;
  width: 30%;
}

.search-price {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
}

.search-price-input {
  height: 10%;
  width: 80%;
}

.search-date {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}

