//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//ヒーローバナー
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.hero {
    background-image: url("../../resources/js/assets/images/home1.jpg");
    background-position: bottom;
    background-size: cover;
    display: inline-block;
    height: 700px;
    width: 100%;

    @include mq {
        height: 650px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        height: 90%;
        justify-content: center;
        text-align: center;


        &-title {
            font-size: $font-size_xxl;
            margin-bottom: 5%;
        }

        &-text {
            letter-spacing: 1em;
        }
    }
}


//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//Home画面
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.home {

    &-header {
        font-size: $font-size_xxl;
        text-align: center;
        margin: 10% auto;
        position: relative;
        text-shadow: 2px 3px 2px #DDDDDD;
        @include mq {
            font-size: $font-size_l;
            width: 80%;
        }


        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 75%;
            margin: -3% auto;
            height: 7px;
            background: -webkit-repeating-linear-gradient(-45deg, $color_accent, $color_accent 2px, #fff 2px, #fff 4px);
            background: repeating-linear-gradient(-45deg, $color_accent, $color_accent 2px, #fff 2px, #fff 4px);

            @include mq {
                margin: -5% auto;
                width: 95%;
            }
        }


    }

    &-what {
        text-align: center;
        width: 100%;

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;

            &:first-child {
                margin-bottom: 5%;
            }

            @include mq {
                flex-direction: column;
            }
        }

        &-shadow {
            background: $color_sub;
            position: absolute;
            width: 260px;
            height: 240px;

            @include mq {
                width: 230px;
                height: 210px;
            }

        }

        &-items-top {
            width: 30%;

            @include mq {
                width: 90%;
                margin: 0 auto;
            }

            &:nth-child(2) {
                margin-top: 7.5%;
            }

            &:nth-child(3) {
                margin-top: 15%;
            }


            p {
                color: $color_base;
                font-weight: bolder;
                margin: 15% auto 0;
                text-align: right;
                width: 80%;
            }
        }

        &-items-bottom {

            width: 30%;

            @include mq {
                width: 90%;
                margin: 0 auto;
            }

            &:nth-child(1) {
                margin-top: 15%;
            }

            &:nth-child(2) {
                margin-top: 7.5%;
            }

            p {
                color: $color_base;
                font-weight: bolder;
                margin: 15% auto 0;
                text-align: right;
                width: 80%;
            }

        }

        &-item {
            width: 100%;
            height: 250px;
            margin: 0 3%;
            position: relative;

            @include mq {
                margin: 0;
                width: 90%;

            }

            &-description {
                margin: 0 auto;
                width: 70%;
            }


            img {
                border-radius: 2%;
                width: 260px;
                height: 240px;
                position: absolute;
                z-index: 2;
                top: 50px;
                left: 50px;

                @include mq {
                    left: 80px;
                }
            }


        }
    }

    &-merit {
        margin: 0 auto;

        &-evocation {
            color: $color_default;
            letter-spacing: 0.5em;
            margin: 10%;
            text-align: center;

            &-item {
                border-radius: 2% 2% 0 0;
                margin: 0 auto 2%;


                &:first-child {
                    margin: 20% auto;

                }

                @include mq {
                    width: 90%
                }
            }

            &-transparent {
                opacity: 0.3;
                margin: 20% auto;

            }

            &-accent {
                color: $color_accent;
                font-weight: bold;
                font-size: 50px;
                padding: 5%;

                @include mq {
                    padding: 30%;
                }
            }


        }


        &-container {
            @extend .home-what-container;
            flex-wrap: wrap;
        }

        &-item {
            border: solid 0.5px $color_bg;
            border-radius: 2% 2% 0 0;
            margin: 5% auto;
            text-align: center;
            top: 5%;
            width: 30%;

            @include mq {
                width: 80%;
            }

            h3 {
                margin: 3%;
            }

            img {
                border-radius: 2% 2% 0 0;
                width: 100%;
            }

            p {
                background: $color_sub;
                box-sizing: border-box;
                font-size: $font-size_l;
                font-weight: bold;
                margin: 0 auto;
                padding: 3%;
                width: 100%;

                @include mq {
                    width: 100%;
                }
            }

            &-left {
                left: 1%;
            }

            &-center {
                top: 60%;
            }

            &-right {
                right: 1%;
                top: 30%;

            }
        }
    }

    &-recommend {
        text-align: center;

        &-word {
            color: $color_w;
            text-shadow: 2px 3px 5px gray;
            font-size: 50px;
            width: 60%;
            margin: 0 auto;

            @include mq {
                font-size: 30px;
                width: 80%;
            }
        }

        &-button {
            border: none;
            text-align: center;
            margin: 5% auto;
            width: 20%;

            @include mq {
                width: 40%;
                padding: 3%;
            }
        }
    }

    //Footer
    &-footer {
        background: $color_base;
        color: #fff;
        flex-direction: row;
        height: 350px;
        justify-content: space-around;
        opacity: 0.6;
        position: relative;

        @include mq {
            height: 350px;
        }

        &-subject {
            align-items: center;
            display: flex;
            justify-content: center;
            color: $color_accent;
            font-size: $font-size_xxl;
            height: 25%;
            padding: 2.5%;
            text-align: center;


            @include mq {


            }
        }

        &-container {
            display: flex;
            height: 30%;
            justify-content: space-around;
            width: 100%;
            flex-direction: row;

            @include mq {
                flex-direction: column;
                height: 40%;
            }

            &-menu {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 5%;
                width: 50%;

                @include mq {
                    width: 100%;
                }


            }

            &-contact {
                align-items: center;
                display: flex;
                flex-direction: row;
                margin-right: 5%;
                width: 30%;

                @include mq {
                    width: 100%;
                }

                &-message {
                    font-size: $font-size_xxl;
                    text-align: center;
                    width: 100%;

                    @include mq {
                        font-size: $font-size_xl;
                    }
                }

                a {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                }

                a::after {
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #333;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s;
                    background: $color_w;
                }

                a:hover::after {
                    bottom: -4px;
                    background: $color_w;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-content {

            display: flex;
            flex-direction: column;
            margin: 0 2%;
            width: 40%;

            @include mq {
                justify-content: center;
                margin: 0 1%;
            }

            &-items {
                display: flex;
                flex-direction: column;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                justify-content: center;
                width: 50%;
                margin: 0 auto;

                @include mq {
                    width: 100%;
                    margin: 0;
                }
            }

            h3 {
                color: $color_accent;
                font-weight: bolder;
                font-size: $font-size_xl;

                @include mq {
                    font-size: $font-size_l;
                }
            }

            p {
                font-size: $font-size_l;
                margin-left: $space_l;

                @include mq {
                    font-size: $font-size_m;
                }
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        &-bottom {
            text-align: center;
        }

        &-copyRight {
            bottom: 1%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            width: 70%;
            left: 0;
            right: 0;

            @include mq {
                width: 75%;
            }

        }
    }
}


//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
////カテゴリ画像を下から上に表示
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.js-rise-target {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}

.js-slide-target {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s;
}


