


.c-form{




  &-submit{

    &-button{
    }
  }
}

.withdraw {

  &-ul{
    margin:5%;
  }

  &-li{
    font-size:$font-size_xl;
    font-weight: bolder;
    list-style: none;
  }

  &-submit {
    padding: 3% 3% 5% 3%;

    &-button{
      margin:3% auto;

    }
  }

}
