

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//ヘッダー ver2
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.nav {
  align-items: center;
  background-color: rgba(255, 190, 218, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  padding-left:30px;
  padding-right:30px;
  width: 100%;
  z-index: 5;

  &-title{
    font-size:$font-size_xxl;
    color:$color_w;
    font-weight:bold;
    text-shadow: 1px 1px 1px $color_default;
  }



  &-heading{
    display: none;
  }


  &-trigger{
    display: none;
    @include mq() {
      display: inline-block;
    }

    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;

    span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $color_sub;
      border-radius: 4px;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 14px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    &.active span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }

  &-sp{
    width:50%;

    @include mq(){
      display: none;
    }

  }


  &-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
  }

  &-item {
    font-size: $font-size_l;
    font-weight: bold !important;
    list-style: none;


    a {
      color: $color_w;
      text-decoration: none;
      text-shadow: 1px 1px 1px $color_default;


    }
  }

  &-height{
    height:100px;
  }


}

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//フッター
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.l-footer{
  background:$color_base;
  color:#fff;
  flex-direction: row;
  height:350px;
  justify-content: space-around;
  opacity: 0.6;
  position:relative;

    @include mq{
        height: 300px;
    }

    &-subject{
        align-items: center;
        display:flex;
        justify-content: center;
        color:$color_accent;
        font-size:$font-size_xxl;
        height:25%;
        padding:2.5%;
        text-align:center;


        @include mq{


        }
    }

  &-container{
      display:flex;
      height:30%;
      justify-content: space-around;
      width:100%;
      flex-direction:row;

      @include mq{
          height: 40%;
      }

      &-menu{
          display: flex;
          flex-direction: row;
          justify-content:space-around;
          margin-bottom: 5%;
          width:50%;

          @include mq{
          width:100%;
      }



      }

      &-contact {
          align-items: center;
          display: flex;
          margin-right:5%;
          width: 30%;

          @include mq{
              width:100%;
          }

          &-message {
              font-size: $font-size_xxl;
              text-align: center;
              width:100%;
          }

          a {
              position: relative;
              display: inline-block;
              text-decoration: none;
          }
          a::after {
              position: absolute;
              bottom: -8px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background: #333;
              opacity: 0;
              visibility: hidden;
              transition: .3s;
              background:$color_w;
          }
          a:hover::after {
              bottom: -4px;
              background:$color_w;
              opacity: 1;
              visibility: visible;
          }
      }
  }

  &-content{

      display:flex;
      margin: 0 2%;
      width: 40%;

      @include mq{
          justify-content: center;
          margin:0 1%;
      }




      &-items{
          display: flex;
          flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          justify-content: center;
          width: 50%;
          margin: 0 auto;

          @include mq{
              width:100%;
              margin: 0;
          }
      }

    h3{
      color:$color_accent;
      font-weight: bolder;
      font-size: $font-size_xl;

        @include mq{
            font-size: $font-size_l;

        }
    }

    p{
        font-size: $font-size_l;
        margin-left: $space_l;

        @include mq{
            font-size: $font-size_m;
        }
    }

    a{
      color:#fff;
      text-decoration: none;

    }
  }

  &-bottom{
    text-align: center;
  }

  &-copyRight{
    bottom:1%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width:70%;
    left: 0;
    right:0;

    @include mq{
      width:75%;
    }

  }
}

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//サイドバー(スマホの場合のみ）
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.sidebar {

    display:none;

    @include mq {
        animation-name:fade-out;
        animation-duration: .7s;
        background: rgba(255, 190, 218, 0.4);
        left: 0;
        position: fixed;
        top: 100px;
        width: 100%;
        z-index: 5;
    }



    @include mq {
        &-h2 {
            padding: 0;
        }
    }

    //SPサイドメニュー用
    &-active{
        @include mq {
            animation-name:fade-in;
            animation-duration: .7s;
            display: inline;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fade-out {
        0% {
            opacity: 1;
            height:200px;
        }
        95%{
            height:200px;
        }
        100% {
            opacity: 0;
        }
    }

    &-container {
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin:0 auto;
        padding: 0 5%;
        width: 80%;

        a {
            color: $color_default;
            position: relative;
            text-decoration: none;
        }

        a::after {
            position: absolute;
            bottom: 5px;
            left: 0;
            content: '';
            width: 80%;
            height: 2px;
            background: $color_w;
            margin-left: 10%;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform .3s;

        }

        a:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
        }

        h2 {
            color: $color_w;
            text-shadow: black 0 0 5px;
        }

    }

    &-item {
        color: $color_w;
        display: flex;
        margin: 10% auto;
        transition: 0.8s;
        text-shadow: black 0 0 5px;
        width: 100%;


        &:hover {
            opacity: 0.8;
            transition: 0.8s;
        }

        &-logo {
            color: $color_w;
            width: 40%;
            text-align: center;
        }

        &-text {
            font-size: $font-size_xl;
            font-weight: bolder;
            text-align: center;
            width: 60%;
        }
    }
}


//========================
//FlashMessage
//========================

.flash_message{
    color: $color_base;
    font-weight: bolder;
    text-align: center;
    margin: 10% auto 5%;
}
