@import "../../Foundation/variables";

.profile{

  margin: 8% auto 12%;
  width:50%;


  &-container{
    background: $color_sub;
    border-radius:1%;
    display: flex;
    flex-direction: column;
    text-align: center;

    &-input{
      &-label{
        display:block;
        font-size: $font-size_xl;
        margin:3%;
      }
    }

    &-img{
      display: flex;
      margin-top: 10%;
      width:100%;

      &-left{
        align-items: center;
        display: flex;
        justify-content: center;
        width:40%;
        margin:5%;
      }

      &-right{
        width:60%;
        margin:5%;

        img{
          width:100%;
        }
      }


      &-none{
        display:none;
      }
    }
  }






}
