@import "../Object/component/component";

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//ヘッダー
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


.l-header{
  background:$color_base;
  display: flex;
  height:100px;
  justify-content: space-around;
  &-left{
    align-items: center;
    font-weight:bold;
    font-size: 30px;
    display:flex;
    padding-right:30%;
  }

  &-right{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width:30%;

  }
  &-button{
    @extend .c-button;
    background: $color_w!important;
    color:black!important;
    margin:0 0 0 0 !important;
    width:30% !important;

  }


}




//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//フッター
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.l-footer{
  background:#FFBEDA;
  color:#fff;
  flex-direction: row;
  height:300px;
  justify-content: space-around;
  position:relative;

  &-container{
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    width:70%;
  }

  &-content{
    margin-top:10%;

    h3{
      color:$color_accent;
      font-weight: bolder;
      font-size: $font-size_l;
    }

    p{
      margin-left: $space_l;
    }

    a{
      color:#fff;
      text-decoration: none;

    }
  }

  &-bottom{
    text-align: center;
  }

  &-copyRight{
    bottom:$space_l;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right:0;

  }
}

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//フッター
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.sidebar{
  align-items: center;
  display:flex;
  height:100%;
  margin:0 0% 0  75%;
  position:fixed;
  width:20%;

  &-container{
    background:$color_base;
    border-radius:1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:60%;
    padding:5%;
    width:100%;

    a {
      color:$color_default;
      position: relative;
      text-decoration: none;
    }
    a::after {
      position: absolute;
      bottom: 5px;
      left: 0;
      content: '';
      width: 80%;
      height: 2px;
      background: $color_w;
      margin-left: 10%;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform .3s;

    }
    a:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }

  }

  &-item{
    display:flex;
    margin:10% auto;
    transition:0.8s;
    width:100%;




    &:hover{
      opacity: 0.8;
      transition:0.8s;
  }

    &-logo{
      width:40%;
      text-align: center;
    }

    &-text{
      font-size:$font-size_l;
      font-weight:bolder;
      width:60%;

    }
  }
  }