.allIdea{

    &-button{
        display: flex;
        justify-content: center;
        margin:5% 0 5% 75%;
        padding:1%;
        width:15%;
    }
}

.search{

    margin-bottom:5%;

    h4{
        margin-bottom:5%;
    }

    &-container{
        display:flex;
        justify-content: space-around;
    }

    &-subject{
        width:100%;
        text-align:center;
    }

      &-category{
          display:flex;
          flex-wrap:wrap;
          width:30%;

          &-radio{
              margin:4% auto;
              width:30%;
          }

      }

      &-price{
          display:flex;
          flex-wrap:wrap;
          justify-content: space-around;
          width:20%;

          &-input{
            height:10%;
            width:80%
            }

      }

      &-date{
          display:flex;
          flex-wrap:wrap;
          width:20%;
      }

}
