

//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//ヒーローバナー
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.hero {
  background-image: url("../images/home1.jpg");
  background-position: bottom;
  background-size: cover;
  display: inline-block;
  height: 700px;
  width: 100%;


  &-item {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    text-align: center;

    &-title {
      font-size: $font-size_xxl;
      margin-bottom: 5%;
    }

    &-text {
      letter-spacing: 1em;
    }
  }
}


//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
//Home画面
//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.home {

  &-header {
    font-size: $font-size_xl;
    text-align: center;
    margin: 5% auto;
  }

  &-container {
  }

  &-what {
    text-align: center;
    width: 100%;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
    }

    &-item {
      width: 30%;
      margin: 0 3%;

      img {
        border-radius: 2%;
        width: 100%;
      }

      p {
        align-items: center;
        font-size: $font-size_l;
        font-weight: bold;

      }
    }
  }

  &-merit {
    margin: 0 auto 5%;

    &-evocation {
      color: $color_default;
      letter-spacing: 0.4em;
      margin: 10%;
      text-align: center;


      &-accent {
        color: $color_accent;
        font-weight: bold;
        font-size: $font-size_xxl;
        padding: 5%;
      }


    }


    &-container {
      @extend .home-what-container;
      flex-wrap: wrap;
    }

    &-item {
      @extend .home-what-item;
      margin: 0 auto 5%;
      text-align: center;
      top: 5%;


      img {
        border-radius: 2%;
        width: 80%;
      }

      p {
        background: $color_sub;
        box-sizing: border-box;
        font-size: $font-size_s;
        font-weight: bold;
        margin: 0 auto;
        padding: 3%;
        width: 80%;
      }

      &-left {
        left: 1%;
      }

      &-center {
        top: 60%;
      }

      &-right {
        right: 1%;
        top: 30%;

      }
    }
  }

  &-recommend {
    text-align: center;

    &-button {
      text-align: center;
      margin: 5% auto;
      width: 15%;
    }
  }
}

