
//====================================
//Profile部分
//====================================

.profile{

  margin: 0 auto 12%;
  width:50%;

  @include mq{
    width:80%;
  }


  &-container{
    background: $color_sub;
    border-radius:1%;
    display: flex;
    flex-direction: column;
    text-align: center;

    &-input{
      margin-bottom: 10%;

      &-label{
        display:block;
        font-size: $font-size_xl;
        margin:3%;
      }


    }

      &-textarea{
          height:100%;
      }

    &-img{
      display: flex;
      margin: 10% auto;
      width:100%;

      @include mq{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }




        &-left{
        align-items: center;
        display: flex;
        justify-content: center;
        width:40%;
        margin:5%;

        @include mq {
          margin: 0 auto;
          width:60%;
          word-wrap: break-word;
        }
      }

      &-right{
        width:60%;
        margin:5%;

        @include mq{
          margin: 5% auto;
        }

        img{
          width:100%;
        }
      }


      &-none{
        display:none;
      }


        &-message{
            font-weight: bolder;
            color:$color_base;
            font-size:$font-size_xl;
            margin-bottom:15%;
        }

    }
  }


    &-withdraw{
        margin: 0 auto;
    }



}
